<html>

<head>
    <%- include('../partials/head', {title: 'SCS - Dashboard' }); -%>
        <link rel="stylesheet" href="/css/components/header.css">
        <link rel="stylesheet" href="/css/components/footer.css">
        <link rel="stylesheet" href="/css/components/button.css">
        <link rel="stylesheet" href="/css/pages/dashboard-page.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous" />
        <script src="https://cdn.socket.io/3.1.1/socket.io.min.js"
            integrity="sha384-gDaozqUvc4HTgo8iZjwth73C6dDDeOJsAgpxBcMpZYztUfjHXpzrpdrHRdVp8ySO"
            crossorigin="anonymous"></script>
        <script>
            // const socket = io("https://scs-smart-control-system.herokuapp.com/");
            const socket = io(window.location.host);
        </script>
</head>

<body>
    <%- include('../components/header', {isHideLoginBtn: false, isLoggin: true, name: name}) -%>

        <!-- content -->
        <div class="topics-container">
            <div class="title">
                <a href="/"><i class="fas fa-home"></i></a>
                <h2 style="display: inline;">DASHBOARD</h2>
            </div>
            <div class="topics">
                <% for(let topic of topics) { %>
                    <a href="/devices?t=<%= topic.name %>" class="topic" id="<%= topic.name %>">
                        <div class="stt"></div>
                        <div class="name">
                            <%- topic.displayName -%>
                        </div>
                        <div class="data">
                            <div class="temp">
                                <i class="fas fa-thermometer-three-quarters"></i><span
                                    id="<%= topic.name %>/data/temp">--.--</span> °C
                            </div>
                            <div class="humid">
                                <i class="fas fa-tint"></i><span id="<%= topic.name %>/data/humid">--.--</span> %
                            </div>
                        </div>
                    </a>
                    <% } %>
            </div>
        </div>
        <%- include('../components/footer') -%>

            <script>
                var mapTimeout = new Map();

                function getDataFromSocket() {
                    '<% for(let [i,t] of topics.entries()) { %>'
                    console.log('<%= t.name %>');

                    socket.on('<%= t.name %>/data/temp', data => {
                        let [date, value] = data;
                        let temp = document.getElementById('<%= t.name %>/data/temp');

                        temp.innerText = Math.round(value * 100) / 100;
                    });
                    socket.on('<%= t.name %>/data/humid', data => {
                        let [date, value] = data;
                        let humid = document.getElementById('<%= t.name %>/data/humid');

                        humid.innerText = Math.round(value * 100) / 100;
                        // if(topic.style.backgroundColor == '#FFB13C'){
                        setStatus('<%= t.name %>');
                        // }
                    });
                    '<% } %>'
                }

                function setStatus(id) {
                    clearTimeout(mapTimeout.get(id));

                    let topic = document.getElementById(id);

                    topic.classList.add('active');

                    let tmp = setTimeout(() => {
                        resetStatus(topic);
                        document.getElementById(`${id}/data/temp`).innerText = '--.--';
                        document.getElementById(`${id}/data/humid`).innerText = '--.--';
                    }, 5000);
                    mapTimeout.set(id, tmp);
                }
                function resetStatus(topic) {
                    topic.classList.remove('active')
                }

                window.onload = getDataFromSocket;
            </script>
</body>

</html>